// POSITION ABSOLUTE

@mixin position-absolute ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x,$y);
}

@mixin position-relative ($top, $right, $bottom, $left, $x, $y) {
    position: relative;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x,$y);
}